/* Reset básico */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* General del cuerpo */
body {
    color: #000;
    line-height: 1.6;
    margin: 0 auto;
    overflow-x: hidden;
}

/* Header */

header{
    background-color: #E03C31;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 15%;
    padding: 10px;
}
.container_link{
    display: flex;
    margin-top: 100px;
    width: 100vw;
    justify-content: space-around;

}
nav li{
   list-style: none;
    text-transform: uppercase;
}

nav .container_link li a {
    color: #FFF;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav .container_link li a:hover {
    color: #85112F;
}

h2{    
    text-align: start;
    margin: 20px;
    color: #E03C31;
    text-transform: uppercase;
}
.info_pelicula {
    border: 3px solid black;
    display: flex;
    padding: 20px;
}
.info_pelicula h3 {
  text-transform: uppercase;
  color: #000;
  background-color: #85112F;
  
}
article {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    
}
.info_pelicula img{
    margin-top: 20px;
    border-radius: 1px 20px;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease;

    
}
.info_pelicula img:hover{
    transform: scale(1.1); 
    opacity: 0.7;
}